StylePA.css 
html {
    display: flex;
    height: 100%;
    width: 100%; 
  }
.e1116_469 { 
   height: 100%; 
   width: 100%;
}
.e1116_469 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%
	position		
}
.e1116_470 { 
	background-color:rgba(1.452084481716156, 174.25000101327896, 122.41059109568596, 1);
	width:2000px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	display: none;
	
}
.e1116_471 { 
	transform: rotate(89.99999999999999deg);
	width:27px;
	height:59.24999237060547px;
	position:absolute;
	left:414px;
	top:93px;
	background-image: url(seta.png);
	background-repeat:no-repeat;
	background-size:cover;
	z-index: 3;
	display:1;
}
.e1116_472 { 
	background-color:rgba(1.452084481716156, 174.25000101327896, 122.41059109568596, 1);
	width:1900px;
	height:120px;
	position:absolute;
	left:0px;
	top:850px;
}
.e1116_473 { 
	width:121.49999237060547px;
	height:108px;
	position:absolute;
	left:40px;
	top:12px;
	display: block;
	border-top-left-radius:6.75px;
	border-top-right-radius:6.75px;
	border-bottom-left-radius:6.75px;
	border-bottom-right-radius:6.75px;
	background-image:url(Logo.png);
	background-repeat:no-repeat;
	
}
.e1116_474 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:38px;
	position:absolute;
	left:255px;
	top:22px;
	font-family:Open Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e1116_494 { 
	background-color:rgba(255, 255, 255, 1);
	width:217px;
	height:62px;
	position:absolute;
	left:1500px;
	top:25px;
	border-radius:15px;
}
.e1116_495 { 
	transform: rotate(1.4760708726981417deg);
	width:62.30046844482422px;
	height:62.0107421875px;
	position:absolute;
	left:1500px;
	display: block;
	top:24px;
	border-top-left-radius:3.750000238418579px;
	border-top-right-radius:3.750000238418579px;
	border-bottom-left-radius:3.750000238418579px;
	border-bottom-right-radius:3.750000238418579px;
	background-image:  url(iconelogin.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1116_496 { 
	color:rgba(0, 0, 0, 1);
	width:208.49996948242188px;
	height:39.75px;
	position:absolute;
	left:1535px;
	top:36px;
	font-family:Open Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e1116_506 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:842px;
	height:378px;
	position:absolute;
	left:490px;
	top:300px;
}
.e1116_508 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:842px;
	height:55px;
	position:absolute;
	left:490px;
	top:290px;
}
.e1116_507 { 
	color:rgba(0, 0, 0, 1);
	width:386px;
	height:54px;
	position:absolute;
	left:735px;
	top:300px; 
	text-align:center;
    font-size: 28px;
	letter-spacing:0px;
}
.e1116_509 { 
	background-color:rgba(255, 255, 255, 1);
	width:200px;
	height:229px;
	position:absolute;
	left:1030px;
	top:410px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1116_511 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:200px;
	height:42px;
	position:absolute;
	left:1030px;
	top:408px;
}
.e1116_524 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:315px;
	height:44px;
	position:absolute;
	left:550px;
	top:412px;
}
.e1116_510 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:44px;
	position:absolute;
	left:1040px;
	top: 417px;
	text-align:center;
	
}
.e1116_522 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:50px; 
	position:absolute;
	left:555px;
	top:420px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e1116_512 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:135px;
	position:absolute;
	left:1040px;
	top:470px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e1116_523 { 
	width:343px;
	height:114px;
	position:absolute;
	left:527px;
	top:465px;
}
.e1116_520 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:18px;
	position:absolute;
	left:17px;
	top:38px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1116_517 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:18px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1116_516 { 
	background-color:rgba(255, 255, 255, 1);
	width:323px;
	height:24px;
	position:absolute;
	left:22px;
	top:90px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e1116_515 { 
	background-color:rgba(255, 255, 255, 1);
	width:323px;
	height:24px;
	position:absolute;
	left:22px;
	top:52px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e1116_513 { 
	background-color:rgba(255, 255, 255, 1);
	width:323px;
	height:24px;
	position:absolute;
	left:22px;
	top:14px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e1116_521 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:18px;
	position:absolute;
	left:0px;
	top:74px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1116_525 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:315px;
	height:34px;
	position:absolute;
	left:550px;
	top:600px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1116_526 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:27px;
	position:absolute;
	left:610px;
	top:605px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e1116_527 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:2000px;
	height:150px;
	position:absolute; 
	left:0px;
	margin-top: -10px;
	z-index: -1;
} 