/* Define a fonte e o tamanho do texto para toda a página */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: linear-gradient(180deg, #01ae7a 0%, rgba(255,255,255,1) 100%);
}

/* Centraliza a imagem */
.icone2 {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

/* Posiciona os rótulos e os botões */
label, .cpf-email2, .senha, .entrar, .criar_conta {
  display: block;
  margin: 20px auto;
  text-align: center;
}

/* Estilo dos botões */
.cpf-email2, .senha, .entrar, .criar_conta {
  background-color:#01AE7A ;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

/* Quando o mouse estiver sobre os botões */
.cpf-email2:hover, .senha:hover, .entrar:hover, .criar_conta:hover {
  background-color: #028a61;
}

/* Define o estilo do campo CPF */
.cpf {
  border: none;
  border-bottom: 2px solid #ddd;
  margin-right: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
}

/* Define o estilo do campo Senha */
.senha2 {
  border: none;
  border-bottom: 2px solid #ddd;
  margin-right: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
}

/* Estilo dos rótulos */
.cpf3, .senha3 {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-size: 20px;
  border-radius: 5px;
}

/* Define o estilo dos botões de rádio */
input[type="radio"] {
  margin-right: 10px;
}

/* Define o estilo dos botões de rádio selecionados */
input[type="radio"]:checked+label {
  font-weight: bold;
}

.entrar {
  background-color:#01AE7A ;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  height:50px ;
  width:150px ;
  font-size: 25px;
}

.criar_conta {
  margin-bottom: 254px;
}

#wp {
  border: 0px;
}