<!DOCTYPE html>
<html>

<head>
  <title>Cadastro</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background: linear-gradient(180deg, #01ae7a 0%, rgba(255, 255, 255, 1) 100%);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px;
      margin-top: 200px;
    }

    h1 {
      text-align: center;
      color: #333;
      margin-right: 100px;
    }

    label {
      display: block;
      margin: 10px 0 5px;
      color: #555;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      background-color: #4caf50;
      color: #fff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    button {
      background-color: #ccc;
      color: #333;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #999;
    }
    .cabeçalho {
  height: 150px;
  width: 100%;
  top: 0%;
  position: absolute;
  left: 0%;
  margin: 0px;
  border: 0px;

}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 5%;
  position: absolute;
  left: 10px;
  top: 10%;
  align-items: center;
  justify-items: center;
}

.titulo {
  font-size: 40px;
  position: absolute;
  left: 150px;
  top: -10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

.assine-plano {
  width: 250px;
  height: 40px;
  position: absolute;
  top: 110px;
  left: 20%;
  background-color: #01AE7A;
  border: 1px;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.login {
  position: absolute;
  left: 80%;
  background-color: white;
  top: 10%;
  height: 50px;
  width: 200px;
  border-radius: 100px;
  border: 0px;
  cursor: pointer;
}

.login2 {
  height: 100%;
  width: 50px;
  left: 0%;
  top: 0%;
  position: absolute;
}

.login3 {
  position: absolute;
  font-size: 30px;
  top: -15px;
  left: 33%;
  font-family: 'Open Sans', sans-serif;
}

.botoes-cabeçalho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  text-decoration: none;
  color: white;
  margin-top: 70px;
}

nav {
    float: right;
    margin-top: 0px;
    font-size: 25px;
    margin-right: 100px;
    color: white;
}

ul {
    list-style-type: none;
    margin-right: 100px;
    padding: 10px;
    color: white;
}

li {
    text-decoration: none;
    color: white;
    padding-left: 150px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }

  #backButton {
      position: absolute;
      left: 240px;
      top: 118px;
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
  </style>
  <script>

document.addEventListener('DOMContentLoaded', function () {
    const imageLink3 = document.getElementById("imageLink3");
    imageLink3.addEventListener("click", function () {
      window.location.href = "/index";
    });
  });
    // Função para voltar à página anterior
    function voltarPagina() {
      history.back();
    }

    // Máscaras para o CPF e número de telefone
    $(document).ready(function () {
      $('#cpf').inputmask('999.999.999-99', {
        removeMaskOnSubmit: true
      });

      $('#numero_telefone').inputmask('(99) 99999-9999', {
        removeMaskOnSubmit: true
      });
    });
    
  
  </script>
</head>

<body>
  <div class="cabeçalho">
    <a href="javascript:history.back()" id="backButton">&#8249; Voltar</a>
    <a href="#" id="imageLink3"><img class="logo" src="assents/image_1.png"> </a>
    <h1 class="titulo"> Health <br> Care </h1>
    <div class="botoes-cabeçalho">
      <nav>
        <ul>
          <li><a href="planos.html">Assine nosso plano</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <form method="POST" action="/cadastro">
    <% if (typeof error !== 'undefined') { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
    <label for="username">Nome Completo:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" required>

    <label for="numero_telefone">Número de Telefone:</label>
    <input type="text" id="numero_telefone" name="numero_telefone" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="data_nascimento">Data de Nascimento:</label>
    <input type="date" id="data_nascimento" name="data_nascimento" required>

    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo" required>
      <option value="medico">Médico</option>
      <option value="paciente">Paciente</option>
    </select>

    <input type="submit" value="Cadastrar">
  </form>
</body>

</html>
