<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Health Care</title>
  <link href="Style-Inicio.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="tela">
    <div class="cabeçalho">
      <a href="#" id="imageLink3"><img class="logo" src="assents/image_1.png"> </a>
      <h1 class="titulo"> Health <br> Care </h1>
      <button class="login" href="/login" >
        <img class="login2" src="assents/3607444_1.png">
        <h1 class="login3"> Login </h1>
      </button>
      <div class="botoes-cabeçalho" >
        <nav>
          <ul >
            <li><a  href="planos.html">Assine nosso plano<a></li> 
           
           
          </ul>
        </nav>
      </div>
    </div>
    <div class="rodape">
      <div class="localizaçao"> <img class="localizaçao1" src="assents/images_1.png">
        <h1 class="localizaçao2"> Localize sua Health Care mais proxima </h1>
      </div>
      <div class="baixe-aplicativo"> <img class="baixe-aplicativo2" src="assents/images_2.png">
        <h1 class="baixe-aplicativo3"> Baixe nosso aplicativo
      </div>
      <div class="redes-sociais">
        <a href="#" id="imageLink2"> <img class="redes-sociais2" src="assents/images__1__2.png"> </a> <a href="#"
          id="imageLink"><img class="redes-sociais4" src="assents/image_5.png"> </a>
        <h1 class="redes-sociais3"> Sigas nossas Redes Sociais </h1>
      </div>
    </div>
    <div class="corpo">
      <div class="topo">
        <img class="image1" src="assents/imagem_correndo.png">
        <div class="lema">
          <div class="saude-todos">
            <h1 class="saude-todos2"> Saúde para <br> todos </h1>
          </div>
          <div class="todos-saude">
            <h1 class="todos-saude2"> Todos com <br> saúde </h1>
          </div>
          <div class="saude-health">
            <h1 class="saude-health2"> Saúde é com <br> Health Care </h1>
          </div>
        </div>
      </div>

      <div class="planos-familia">
        <h1 class="titulo2"> Planos de saúde para toda família </h1>
      </div>
      <div class="nosso-atendimento">
        <h1 class="titulo3"> Nosso atendimento tanto virtual quanto fisíco </h1>
      </div>
      <div class="atendimento-personalizado">
        <h1 class="titulo4"> Atendimentos personalizados </h1>
      </div>
      <img class="image2" src="assents/featuredimageid100116_1.png">
      <img class="image3" src="assents/image_6.png">
      <img class="image4" src="assents/depositphotos_68347745_stock_photo_happy_old_people_1.png">


    </div>
  </div>
</body>
<script>
  const loginBtn = document.querySelector(".login");
  loginBtn.addEventListener("click", function () {
    window.location.href = "/login";
  });

  const imageLink2 = document.getElementById("imageLink2");
  imageLink2.addEventListener("click", function () {
    window.location.href = "https://www.instagram.com/";
  });
  const imageLink = document.getElementById("imageLink");
  imageLink.addEventListener("click", function () {
    window.location.href = "https://pt-br.facebook.com/";
  });
  const imageLink3 = document.getElementById("imageLink3");
  imageLink3.addEventListener("click", function () {
    window.location.href = "Tela de Inicio.html";
  });
 
  
</script>

</html>