<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="Nome de usuário">
    <input type="password" name="password" placeholder="Senha">
    <input type="radio" name="tipo" value="medico"> Médico
    <input type="radio" name="tipo" value="paciente"> Paciente
    <button type="submit">Login</button>
    <a href="http://localhost:3000/cadastro"><p>cadastre-se</p></a>
  </form>
</body>
</html>
