<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <style>
    html {
      height: 100%;
    }

    /* Define a fonte e o tamanho do texto para toda a página */
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      background: linear-gradient(180deg, #01ae7a 0%, rgba(255, 255, 255, 1) 100%);
    }

    a {
      color: black;
    }

    h1 {
      font-family: georgia;
      font-size: 50px;
    }

    form {
      text-align: center;
      width: 100%;
    }

    .inputs {
      width: 500px;
      height: 20px;
      border-radius: 10px;
    }

    .input {
      text-align: center;
    }

    button {
      width: 150px;
      height: 35px;
      border-radius: 10px;
      background-color: #01ae7a;
      transition: 0.3s;
      font-family: georgia;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <form method="post" action="/login" onsubmit="return validarFormulario()">
    <h1>Login</h1>
    <% if (typeof error !== 'undefined') { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
    <input class="inputs" type="text" name="username" placeholder="Nome de usuário"><br><br>
    <input class="inputs" type="password" name="password" placeholder="Senha"><br><br>
    <input class="input" type="radio" name="tipo" value="medico"> Médico
    <input class="input" type="radio" name="tipo" value="paciente"> Paciente<br><br>
    <button type="submit">Login</button>
    <a href="/Cadastro">
      <p>Cadastre-se</p>
    </a>
  </form>

  <script>
    function validarFormulario() {
      // Sua lógica de validação aqui

      // Exemplo de retorno, ajuste conforme necessário
      return true;
    }
  </script>
</body>

</html>
