<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styleA.css">
  <title>Tela Planos</title>
</head>

<body>
  <div class="tela-total">
    <div class="cabeçalho">
      <a href="#" id="imageLink3"><img class="logo" src="assents/image_1.png"></a>
      <h1 class="titulo">Health<br>Care</h1>
      <button class="login">
        <img class="login2" src="assents/3607444_1.png">
        <h1 class="login3">Login</h1>
      </button>
      <div class="botoes-cabeçalho">
        <nav>
          <ul>
            <li><a class="hrefstyle" href="/index">Início</a></li>
          </ul>
        </nav>
      </div>
      <div class="div-h1">
        <h1 class="conheça-planos">Conheça nossos planos! Temos o melhor pra você</h1>
      </div>

      <a href="/login">
      <button class="plano-individual" onclick="window.location.href = 'Tela de Login.html';">
        <h3 class="titulo-plano1">Plano Individual</h3>
        <br><br>
        <h1 class="texto1">Neste plano você tem direito a todos os médicos adultos disponíveis</h1>
        <br>
        <h1 class="preço1">R$ 297 / por mês</h1>
      </button><
     
     <a href="/login">
     
      <button class="plano-individual">
        <h3 class="titulo-plano1">Plano Casal</h3>
        <br><br>
        <h1 class="texto1">Neste plano você tem direito a todos os médicos adultos disponíveis e um integrante tem a opção dos médicos infantis</h1>
        <br>
        <h1 class="preço1">R$ 412 / por mês</h1>
      </button></a>

      <a href="/login">
      <button class="plano-individual" onclick="window.location.href = 'Tela de Login.html';">
        <h3 class="titulo-plano1">Plano Família</h3>
        <br>
        <h1 class="texto1">Neste plano você tem direito a quatro integrantes e acesso a todos os médicos adultos disponíveis e dois integrantes aos médicos infantis</h1>
        <br>
        <h1 class="preço1">R$ 608 / por mês</h1>
      </button></a>
    </div>
  </div>

  <script>
    const imageLink3 = document.getElementById("imageLink3");
    imageLink3.addEventListener("click", function () {
      window.location.href = "index.html";
    });
    const loginBtn = document.querySelector(".login");
  loginBtn.addEventListener("click", function () {
    window.location.href = "/login";
    });
  </script>
</body>

</html>
