

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  height: 100px;
}



.helth-care {
  font-size: 32px;
  margin: 0;
}


.meio {
  margin: 40px auto;
  max-width: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px #0000001a;
}

.crie-conta {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}


input[type="text"] + label,
input[type="email"] + label,
input[type="password"] + label 
input[type="cpf"] + label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="cpf"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.criar-conta1 {
  background-color:#01AE7A ;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  height:50px ;
  width:150px ;
  font-size: 20px;
}


footer {
  background-color: #01AE7A;
  height: 100px;
}

.cabeçalho {
	height: 150px;
	width: 100%;
	background-color: #01AE7A;
	top: 0%;
	position: absolute;
	left: 0%;
	margin: 0px;
	z-index: 1;
  }
  
  .logo {
	width: 120px;
	height: 120px;
	border-radius: 5%;
	position: absolute;
	left: 10px;
	top: 10%;
	align-items: center;
	justify-items: center;
  }
  
  .titulo {
	font-size: 40px;
	position: absolute;
	left: 150px;
	top: -10px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	cursor: default;
  }
  .login2 {
	height: 100%;
	width: 50px;
	left: 0%;
	top: 0%;
	position: absolute;
  }
  
  .login3 {
	font-size: 30px;
  margin-top: 10px;
	left: 33%;
	font-family: 'Open Sans', sans-serif;
  }

  .botoes-cabeçalho {
	display: flex;
	flex-direction: row;
	margin-left: 200px;
	margin-top: 75px;
	padding: 13px;
	text-decoration: none;
	color: white;
  }
  
  nav {
	  float: right;
	  margin-top: 0px;
	  font-size: 25px;
	  margin-right: 100px;
	  color: white;
  }
  
  ul {
	  list-style-type: none;
	  margin-right: 100px;
	  padding: 10px;
	  color: white;
  }
  
  li {
	  text-decoration: none;
	  color: white;
	  padding-left: 150px;
  }
  
  ul {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  color: white;
	}
  
	a {
	  color: white;
	  text-decoration: none;
	  font-family: 'Open Sans', sans-serif;
	}

	#wp {
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: 150px;
		border: 0px;
	}

	#wp-site-blocks {
		padding: 0px;
	}