<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="styleP.css">
    <meta charset="utf-8">


    <style>
        .img {
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: -1;
        }
    </style>
</head>

<body>
    <div class=e559_67>  
    </div>
    

        <div class="e557_85"></div>
        <div class="e559_297"></div> 
            
        
        <div class="e557_86"></div> 
        <div class="e559_167"><img src="assents/logo.png"></div> 
         

        
        <span class="e559_184">Health Care </span>
        <button src="seta.png"><img src="seta.png">  Voltar</button> 
        <div class="e557_88"></div><span class="e572_216">Não possui </span>
        <div class="e557_89"></div>
        <div class="e557_90"></div>
        <div class="e572_215"></div>
        <div class="e557_91"></div><span class="e572_217">Dra. Mara (Nutricionista)
            (19) 99999 9999
            Mara.nutri@gmail.com </span>
        <div class=e557_197>
            <div class="e557_92"></div>
        </div>
        <div class="e557_142"><a href="/logout">Sair</a>
        </div>
        <div class="e559_182" > <img class="icone" src="assents/icone login.png"></div> 
        <span class="e559_183">
            
        
        
        
        
        
        </span><span class="e557_192">Bem Vindo!</span>
        <div class=e634_19>
            <div class="e557_195"></div>
            <div class="e634_20"></div>
            <div class="e557_196"></div>
            <div class="e634_21"></div>
            <div class="e557_198"></div>
            <div class="e557_199"></div><span class="e559_192">Consulta 18/01
                Dr. Lucas </span><span class="e559_193">Consulta 14/ 11/ 22
                Dr. Luis </span><span class="e559_178">Relatório médico </span>
        </div><span class="e559_195">Não possui </span><span class="e559_179">Próximas consultas </span><span
            class="e559_186">Contato dos médicos </span>
        <div class="e573_201"></div>
        <div class="e573_202"></div><span class="e559_189">Dr. Lucas (Fisioterapeuta)
            (19) 99999 9999
            Dr.lucas.Fisio@gmail.com </span><span class="e634_22">Agendar consulta </span>

            <a href="/Teladeagendamento">
            <span class="e634_23">Clique
            aqui
            para agendar sua consulta com os melhores medicos </span> </a>

    </div>
</body>

</html> 
